- hosts: localhost

  vars:
    nodejs_setup_script_path: /tmp/setup_12.x
    chrome_deb_path: /tmp/google-chrome-stable_current_amd64.deb

  tasks:

    - name: nodejsのセットアップスクリプトをダウンロード
      get_url: url=https://deb.nodesource.com/setup_12.x dest=/tmp mode=755
      register: download_nodejs_setup_script

    - name: nodejsのセットアップスクリプトの存在をチェック
      stat:
        path: "{{ nodejs_setup_script_path }}"
      register: do_exist_nodejs_setup_script

    - name: nodejsのセットアップスクリプトを実行
      become: 'yes'
      command: "{{ nodejs_setup_script_path }}"
      register: execute_nodejs_setup_script
      when: do_exist_nodejs_setup_script.stat.exists

    - name: nodejsのセットアップスクリプトを削除
      file:
        path: "{{ nodejs_setup_script_path }}"
        state: absent
      when: do_exist_nodejs_setup_script.stat.exists

    # chromeに必要なパッケージ: libxss1 libappindicator1 libindicator7
    # cypressに必要なパッケージ: xvfb libgtk-3-dev libnotify-dev libgconf-2-4 libnss3 libxss1 libasound2 https://docs.cypress.io/guides/guides/continuous-integration.html#Dependencies
    # nodejsでネイティブ アドオンをビルドするために必要なパッケージ gcc g++ make
    - name: 必要なパッケージのインストール
      become: 'yes'
      apt:
        name: ['gcc', 'g++', 'make',
'nodejs', 'xvfb', 'libgtk-3-dev', 'libnotify-dev', 'libgconf-2-4', 'libnss3', 'libxss1', 'libasound2', 'libappindicator1', 'libindicator7']
        state: present

    - name: chromeのパッケージをダウンロード
      get_url: url=https://dl.google.com/linux/direct/google-chrome-stable_current_amd64.deb dest=/tmp mode=755

    - name: chromeのパッケージファイルの存在をチェック
      stat:
        path: "{{ chrome_deb_path }}"
      register: do_exist_chrome_deb

    - name: chromeをインストール
      become: 'yes'
      apt:
        deb: "{{ chrome_deb_path }}"
      when: do_exist_chrome_deb.stat.exists
      register: install_chrome

    - name: chromeのパッケージファイルを削除
      file:
        path: "{{ chrome_deb_path }}"
        state: absent
      when: do_exist_chrome_deb.stat.exists

    - name: chromeのインストールが失敗した時にコマンドを実行する
      become: 'yes'
      shell: apt install -f
      when: install_chrome is failed

    - name: chromedriverのzipファイルを展開（※chromeのバージョンに合わせる必要がある）
      become: 'yes'
      unarchive:
          src: http://chromedriver.storage.googleapis.com/77.0.3865.40/chromedriver_linux64.zip
          dest: /usr/local/bin
          remote_src: yes

    - name: npmで必要なパッケージをインストール
      become: 'yes'
      npm:
        global: yes
        name: ['cypress', 'qunit']

    - name: 各プロジェクトのpackage.jsonに基づきパッケージをインストールする
      script: npm_install.sh creates=/tmp/npm_install_executed
